<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <title>Questionnaire</title>
    <!-- <meta http-equiv=X-UA-Compatible content="IE=edge"> -->
    <!-- <meta name=viewport content="width=device-width, initial-scale=1"> -->
    <meta name="description" content="Questionnaire that renders the results as charts">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
  </head>
  <body>
    <h1>Domeinenkennis</h1>
    <h2>Welke domeinen zijn belangrijk in uw organisatie?</h2>

    <div class="layout">
      <section>
        <form class="questions" id="questions"></form>
      </section>
      <section class="results" id="results"></section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
    <script>

    $.getJSON("./data/questions.json", function(data) {
      var questions = new questionnaire.Questions("#questions", data.questions);
      var formData = $(questions.form).serializeArray();
      var results = new questionnaire.Results("#results", formData);

      function updateChart() {
        formData = $(questions.form).serializeArray();
        results.update(formData);
      }

      questions.form.addEventListener("change", updateChart);
    });

    </script>
  </body>
</html>
