<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Questionnaire Questions</title>
    <!-- <meta http-equiv=X-UA-Compatible content="IE=edge"> -->
    <!-- <meta name=viewport content="width=device-width, initial-scale=1"> -->
    <meta name="description" content="Questionnaire that renders the results as charts">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
    <style type="text/css">

    body {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      padding: 2em;
    }

    h1,
    h2,
    h3 {
      margin-top: 0;
    }

    </style>
  </head>
  <body>
    <h1>Domeinenkennis</h1>
    <h2>Welke domeinen zijn belangrijk in uw organisatie?</h2>

    <form action="results.html" method="GET">
      <div id="questions"></div>
      <button type="submit">Submit</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
    <script>

    $.getJSON("./data/questions.json", function(data) {
      var questions = new questionnaire.Questions("#questions", data.questions);
    });

    </script>
  </body>
</html>
